<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About-Us Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
      <h1 align="center">About Us Page</h1>
      <div class="container">
       <button type="button" onclick="redirectToHome()">Home</button>
       <button type="button" onclick="redirectToContact()">Contact Us</button>
      </div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>